<div class="row">
    <div class="col-md-12">
        <div class="record-pane">
            <h2><%= I18n.t('marc_accession.import_title') %></h2>

            <%= form_tag({:controller => :marc_accessions, :action => :review_agents}, :method => :get) do |form| %>
                <div class="form-group">
                    <div class="input-group">
                        <label for="bibid"><%= I18n.t('marc_accession.bibid_label') %></label>
                        <input id="bibid"  name="bibid" class="form-control" type="text" placeholder="<%= I18n.t('marc_accession.bibid_placeholder') %>">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-actions">
                        <div class="btn-group">
                            <button class="btn btn-primary"><%= I18n.t("marc_accession.import_marc_record") %></button>
                        </div>
                    </div>
                </div>

            <% end %>
        </div>
    </div>
</div>
